{% extends "table_base.html" %}
{% block table_body %}
<tbody>
{% for item in object_list %}
<tr>
    <th>{{ forloop.counter }}</th>
    <td>{{ item.name }}</td>
    <td>{{ item.price }}</td>
    <td>{{ item.currency }}</td>
    <td>{{ item.seller.name }}</td>
    <td><a href="{% url 'core:items_update' item.pk %}" class="btn btn-primary">Обновить</a></td>
    <td><a href="{% url 'core:items_del' item.pk %}" class="btn btn-danger">Удалить</a></td>
</tr>
{% endfor %}
</tbody>
{% endblock table_body %}
