{% extends "base.html" %}
{% block content %}
<main>
    <div class="text-center display-4 mb-4">{{ table_title }}</div>
    {% block table_search %}
    <form method="get">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Поиск</button>
    </form>
    {% endblock table_search %}
    <table class="table text-center mt-2">
        <thead class="table-primary">
        <tr>
            {% for header in table_headers %}
            <th>{{ header }}</th>
            {% endfor %}
            <th>Обновить</th>
            <th>Удалить</th>
        </tr>
        </thead>
        {% block table_body %}
        {% endblock table_body %}
    </table>
</main>
{% endblock content %}
