{% extends "table_base.html" %}
{% block table_body %}
<tbody>
{% for order in object_list %}
<tr>
    <th>{{ forloop.counter }}</th>
    <td>{{ order.order.customer.name }}</td>
    <td>{{order.items}}</td>
    <td>{{ order.order.creation_date }}</td>
    <td>{{ order.order.finished|yesno:"Завершён, В процессе"}}</td>
    <td><a href="{% url 'orders_update' order.order.pk %}" class="btn btn-primary">Обновить</a></td>
    <td><a href="{% url 'orders_del' order.order.pk %}" class="btn btn-danger">Удалить</a></td>
</tr>
{% endfor %}
</tbody>
{% endblock table_body %}
